.c-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    /* margin: 20px; */
    /* width: 70%; */
}
.slide-img {
    width: 100%;
}
.sidebar {
    margin: 20px auto;
    height: 45%;
}
.sideb-2 {
    border: 1px solid;
}
.txt-a {
    width: 100%;
    resize: none;
}

@media screen and (max-width: 600px) {
    .c-grid {
        display: block;
        margin: 10px;
        width: auto;
    }
    .inp-wfix {
        width: 100%;
    }
    .sidebar {
        height: auto !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .svg-f {
        width: 30px;
        height: 30px;
        margin: 10px 20px;
    }
}